body {
    background-color: #f8f9fa;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Tamaño del logo */
#logo {
    width: 100px;
    height: auto;
}

label {
    font-weight: bold;
}

.btn-primary {
    background-color: #5a3c9e;
    border-color: #5a3c9e;
}

.btn-primary:hover {
    background-color: #6b50ae;
    border-color: #6b50ae;
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 768px) {
    .card {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .card {
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 2px;
    }
}