body {
    font-family: Arial, sans-serif;
    background-color: #ece6e6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-header {
    text-align: center;
    margin-top: 50px;
}
.logo {
    width: 150px;
    height: auto;}

.login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
    padding: 2.5rem; /* Aumentar el padding para hacer la tarjeta más grande */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Aumentar la sombra para mayor efecto */
    width: 350px; /* Aumentar el ancho de la tarjeta */
}
h1 {
    text-align: center;
    color: #333;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 1rem;
    color: #333;
}
input {
    margin-top: 0.5rem;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%; /* Asegurar que los campos de entrada ocupen el 100% del ancho disponible */
    box-sizing: border-box; /* Incluir el padding y el borde en el ancho total */
}
button {
    margin-top: 1.5rem;
    background-color: #ff0077;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #b300a4;
}
.forgot-password {
    text-align: center;
    margin-top: 1rem;
}
.forgot-password a {
    color: #007bff;
    text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}
.error-message {
    color: #dc3545;
    margin-top: 1rem;
    text-align: center;
    display: none;
}
.loading {
    display: none;
    text-align: center;
    margin-top: 1rem;
}

/* Pantallas pequeñas (teléfonos) */
@media (max-width: 480px) {
    .login-container {
    width: 90%;
    padding: 1.5rem;
    }
    .logo {
    width: 100px;
    height: auto;
    }
}

  /* Pantallas medianas (tabletas) */
    @media (max-width: 768px) {
    .login-container {
        width: 80%;
        padding: 2rem;
    }
    .logo {
        width: 120px;
        height: auto;
    }
}


  /* Pantallas grandes (ordenadores) */
    @media (min-width: 1024px) {
    .login-container {
        width: 60%;
        padding: 3rem;
    }
    .logo {
        width: 150px;
        height: auto;
    }
}